<ul>
  <li>
    <%= @sorted_times %>
  </li>
</ul>

<!-- <ul>
	<% @routes_to_display.each do |routes| %>
		<% routes.each do |route_times| %>
			<li> <%= puts route_times %> </li>
		<% end %>
	<% end %>
</ul> -->