<%= @route.agency.name %>
<%= @route.long_name %>

<% route_stops = @route.route_stops %>

<table>
  <tr>
    <% route_stops.each do |stop| %>
      <td><%= link_to stop.name, stop_path(stop.id) %></td>
    <% end %>
  </tr>
</table>