<%= @route.long_name %>

<% route_stops = @route.stop_times.map {|time| Stop.where(stop_id: time.stop_id)}.flatten.uniq %>
<table>
  <tr>
    <% route_stops.each do |stop| %>
      <td><%= link_to stop.name, stop_path(stop.id) %></td>
    <% end %>
  </tr>
</table>